In [9]:
import pandas as pd
import numpy as np

In [10]:
data=pd.read_csv(r"C:\Users\KIIT\Downloads\melb_data.csv")

In [11]:
data.head(2)

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0

In [12]:
## men can be taken like this also
newdata=data[["BuildingArea","YearBuilt"]].fillna(data[["BuildingArea","YearBuilt"]].mean())

In [13]:
newdata.head()  ## this new variable newdata  would only show the changed columns but not the entire dataset with the changed columns

   BuildingArea    YearBuilt
0    151.220219  1965.879996
1     79.000000  1900.000000
2    150.000000  1900.000000
3    151.220219  1965.879996
4    142.000000  2014.000000

the inplace parametre changes  the dta permannently 
by default it is set to false but can bechanged to True when permnenet changes are needed

# imputer method

In [16]:
from sklearn.preprocessing import Imputer

ImportError: cannot import name 'Imputer' from 'sklearn.preprocessing' (C:\Anaconda\lib\site-packages\sklearn\preprocessing\__init__.py)